
.L {
  &__container {
    min-height: 100vh;
  }

  &__nav--link {
    color: black;
    padding: 1rem;
    text-decoration: none;
  }

  &__navbar--brand {
    color: black;
    font-weight: bolder;
  }
}

//.H {
//  &__img {
//    height: 100%;
//    width: 100%;
//    object-fit: contain;
//    object-position: center;
//  }
//
//  &__row {
//    justify-content: space-around;
//    margin: 4rem 0;
//  }
//
//  &__col {
//    border: 1px solid black;
//    border-radius: 1rem;
//    margin: 1rem;
//    display: flex;
//    justify-content: center;
//    align-items: flex-start;
//    flex-direction: column;
//  }
//}

.H {
  &__col {
    background-image: url("/images/wojciech.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
  }

  &__text {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.A {
  &__col {
    background-image: url("/images/wojciech2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
  }

  &__text {
    height: 80vh;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.C {
  &__col {
    background-image: url("/images/wojciech2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
  }

  &__text {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}


.C {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.F {
  &__container {
    margin: 2rem 0;
    padding: 2rem;
    background: black;
    display: flex;
    justify-content: center;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    padding: 2rem;
    color: white;
  }
}

@media(max-width: 992px) {
  .F__container {
    flex-direction: column;
  }
  .F__link {
    display: inline-block;
    padding: .5rem;
  }
}

.card__image {
  width: 100%;
  max-height: 200px;
}

.card {
  height: 500px;
  justify-content: space-around;
}


